/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My Code*/

body{
    background-color: #EEF7FB;
}
header{
    background-color: #DDE1E3;
    width: 100%;
    height: 70px;
}
 .logo{
     width: 100px;
     height: 70px;
    float: left;
    margin-top: -20px;
}

 header .button{
     display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 150px;
   
    
}

header .button .button1{
    background-color: #EEF7FB;
    padding: 8px;
    font-size: 10px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 10%;
}
header .button .button2{
    background-color: #B6E5F9;
    padding: 8px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 10%;
}
 .contact {
   display: none;
}

/*when I put the display to non for nav it will also desapear from desktop version so I put media query to specific it*/
@media only screen and (max-width: 768px){
nav ul{
    display: none;
}
}
 .dropdown {
    position: fixed;
    display: inline-block;
   right: 20px;
   top: 20px;
    
  }
  
  .dropdown .dropbtn {
    background-color: #175288;
    color: white;
    padding: 7px;
    font-size: 10px;
    border: none;
    float: right;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    border: 5px;
    border-radius: 10%;
  }
  
  
   .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
      font-size: 8px;
      font-family: 'PT Sans', sans-serif;
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
      background-color: #B6E5F9;
      color: black;
    }
    .hero{
        background-image: url(./img/hero.mobile.jpg);
        background-repeat: no-repeat;
        height: 139px;
        width: 100%;
    }
    .hero h1{
        text-indent: 7px;
        font-family:'PT Sans', sans-serif ;
        font-size:12px ;
        font-style: normal;
        color: white;
        padding:20px 0 10px 60px;
    }
    .hero p{
        font-family: PT Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        padding-left: 20px;
    }
    .hero a{
        width: 58px;
        height: 20px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        background: #153E55;
       border-radius: 30px;
       text-decoration: none;
       text-indent: 18px;
      margin-left: 35px;
    }
    
    .cards .cards-03 , .cards-06{
        display: none;
    }
    .cards h1{
       font-family: PT Sans;
       font-style: normal;
       font-weight: bold;
       font-size: 9px;
       display: flex;
       text-align: center;
       color: #000000;
       margin:16px 150px;
    }
    .cards > ul > li > a {
        margin-left: 3.5rem;
        text-decoration: none;
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        display: flex;
        color: #175288;
    }
    .cards > ul {
        display: grid;
        padding-inline-start: 0;
        list-style-type: none;
        grid-gap: 1rem;
        grid-template-columns: 170px 170px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .cards > ul > li {
        border: 1px solid #E2E2E2;
        border-radius: .5rem;
        padding-bottom: .5rem;
        margin-bottom: 5px;
        background-color: #DDE1E3;
    }
    .cards > ul > li > figure {
        max-height: 150px;
        max-width: 150px;
        overflow: hidden;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        position: relative;
        margin-inline-start: .5rem;
        margin-inline-end: .5rem;
    }
    .cards > ul > li > figure > img {
        width: 100%;
        height: 100px;
    }
    .cards > ul > li > p {
     display: none;
    }
    .cards > ul > li > h2{
     padding: .5rem;
     font-family: PT Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 8px;
     display: flex;
     color: #0881F0;
     margin-left: 30px;
    }
    .cards > ul > a{
        text-decoration: none;
        width: 80px;
        height: 25px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        display: flex;
        color: white;
        background: #153E55;
       border-radius: 30px;
       text-indent: 16px;
      margin-left: 140px;
      padding-top: 5px;
      line-height: 18px;
      margin-bottom: 10px;
    
    }
    .employee-info{
        background-color: #E5E5E5;
        max-width: 100%;
    }
    .employee-info h2{
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        color: #000000;
        padding: 10px;
        margin-left: 130px;
    }
    .employee-info .flex-container{
        display: flex;
        justify-content: space-between;
    }
    .employee-info .flex-container .flex-03 , .flex-04{
        display: none;
    }
    
    .employee-info .flex-container > div {
    background-color: #EEF7FB;
    margin: 5px;
    padding: 5px;
    font-size: 9px;
  }
  .employee-info .flex-container > div > p , .background{
      display: none;
  }
  .employee-info .flex-container > div > figure {
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
    position: relative;
    margin-inline-start: .5rem;
    margin-inline-end: .5rem;
  }
  .employee-info .flex-container > div > figure > img{
      border-radius: 50%;
  }
  .employee-info h3{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 12px;
    color: #000000;
    margin-left: 35px;
    padding-top: 5px;
  }
  .employee-info .flex-container .link a{
      text-decoration: none;
      
  }
  .employee-info .flex-container .link{
    background: #175288;
    border-radius: 30px;
    height: 40px;
    width: 90px;
    margin-right: 10px;
    margin-top: 40px;
  }
  .employee-info .flex-container .link a p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    
  }
footer{
    background-color: #175288;
    width: 375px;
    height:150px ;
}
  footer h2{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px; 
    color: #FFFFFF;
    padding-top: 20px;

  }

  footer p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    margin-right: 60px;
  }

 footer .footer-logo{
     float: left;
     margin-left: 20px;
     margin-top: 20px;
 }


 footer .address{
     float: right;
 }
  
 @media only screen and (min-width: 768px){
   
   header .button .button1{
    position: relative;
    width: 124px;
    height: 32px;
    margin-left: 700px;
   }
   header .button .button2{
    position: relative;
    width: 142px;
    height: 72px;
    
   }
   header .contact {
      display: block;
      font-family: Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 32px;
      color: #000000;
   }
   header .contact a{
       text-decoration: none;
       float: right;
       margin-right: 38px;
       margin-top: 45px;
   }
   nav{
       margin-left: 50px;
   }
   nav ul li{
    display: inline-block;
    margin-top: 25px;
    }
    nav ul li a{
        font-family: PT Sans;
        font-size: 15px;
        padding:30px 25px ;
        color: #000000;
        text-decoration: none;
        }

   .dropdown {
    display: none;
  }
  .hero{
    background-image: url(./img/image.jpg);
    background-repeat: no-repeat;
    margin-left: 200px;
    height: 300px;
}
.hero h1{
    font-size: 30px;
    line-height: 30px;
}
.hero p{
font-size: 14px;
line-height: 20px;
color: #000000;
padding-top: 15px;
}
.cards h1{
    font-size: 15px;
    display: block;
 }
.cards > ul {
    display: grid;
    padding-inline-start: 0;
    list-style-type: none;
    grid-gap: 2rem;
    grid-template-columns: 220px 220px 220px ;
    margin-left: 120px;
    margin-bottom: 20px;
}

.cards > ul > li > a {
  text-align: center;
}

.cards > ul > li > figure {
    max-height: 200px;
    max-width: 200px;
}

/*even though I wrote the css code for P, but it does not show in desktop version. why?*/

.cards > ul > li > p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.cards > ul > li > h2{
 margin-left: 50px;
}
.cards > ul > a{
  display: none;

}
.cards .cards-03 , .cards-06{
    display: grid;
}
.employee-info{
 height: 300px;
}
.employee-info h2{
    font-size: 15px;
    margin-left: 430px;
    padding-top: 25px;
}
.employee-info .flex-container{
    display: flex;
    justify-content: center;
    padding: 20px;

}
.employee-info .flex-container .flex-03 , .flex-04{
    display: flex;
    justify-content: center;
}

/*why not all the P lines getting the same rules? do not understand!!*/
.employee-info .flex-container > div > p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color:#000000;
}
.employee-info .flex-container > div > .background{
    text-decoration: none;
    background-color: #153E55;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    width: 60px;
    margin-left: 10px;
}

.employee-info .flex-container > div > figure > img{
  border-radius: 50%;
}
.employee-info h3{
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 9px;
line-height: 12px;
color: #000000;
margin-left: 35px;
padding-top: 5px;
}
.employee-info .flex-container .link a{
  text-decoration: none;
  
}
.employee-info .flex-container .link{
display: none;
}
footer{
    background-color: #175288;
    width: 100%;
    height:300px ;
}
  footer h2{
   
    font-size: 24px;
margin-right: 40px;
    padding-top: 40px;

  }

  footer p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    margin-right: 150px;
  }
footer .footer-logo{
    height: 100px;
}


 }
    